.site-header {
  background-color: #121212;
  color: #f5f5f5;
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }


  .logo h1 {
    font-size: 1.8rem;
    color: var(--cor-azul-claro);
    margin: 0;

    a {
      text-decoration: none;
      color: inherit;
      transition: color 0.3s;

      &:hover {
        color: var(--soft-blue);
      }
    }
  }

  .navbar ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
  }

  .navbar li {
    margin: 0 20px;
  }

  .navbar a {
    color: #f5f5f5;
    font-size: 1.1rem;
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
      color: var(--cor-azul-claro);
    }
  }

  .social-icons a {
    color: #f5f5f5;
    margin-left: 15px;
    font-size: 1.5rem;
    transition: color 0.3s;

    &:hover {
      color: var(--cor-azul-claro);
    }
  }
}
