<header class="site-header">
  <div class="header-content">

    <div class="logo">
      <h1><a href="/">Global Solution</a></h1>
    </div>

    <nav class="navbar">
      <ul>
        <li><a href="#home">Início</a></li>
        <li><a href="#programacao">Programação</a></li>
        <li><a href="#parceiros">Parceiros</a></li>
        <li><a href="#contato">Contato</a></li>
      </ul>
    </nav>

    <div class="social-icons">
      <a href="#" target="_blank"><i class="fa-brands fa-instagram"></i></a>
      <a href="#" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
      <a href="#" target="_blank"><i class="fa-brands fa-github"></i></a>
    </div>
  </div>
</header>
